.login_input {
    justify-content: center;
    margin-left: 60%;
    margin-top: -20%;
    /* outline: 2px solid red; */
}

.login__input {
    justify-content: center;
    margin-left: 60%;
    margin-top: -5%;
}

.Bienvenido {
    display: flex;
    margin-top: -35%;
}

.logo {
    display: flex;
    margin-left: 46%;
    margin-bottom: -5%;
}

.btn_login_btn {
    background-color: #EA3E91;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 50px;
    width: 180px;
    border-color: #EA3E91;
    position: relative;
    margin-top: 65%;
    margin-left: -1%;

}