.containerImageandForm {
    display: flex;
}

.container {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    background-color: #e3e3e3;
    border-radius: 10px;
}

.containerFormLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
}

.Bienvenido {
    width: auto;
    height: auto;
}

.TextBox {
    background-color: #ffffff;
    border: 0;
    border-radius: 3px;
    width: 300px;
    height: 30px;
    margin: 15px;
}

.logo {
    width: auto;
    height: 12vh;
    margin-bottom: 10px;
}

.btnAddProduct {
    background-color: #EA3E91;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 130px;
    border-color: #EA3E91;
    position: relative;
    left: 70%;
}