.backgroundColor {
    background-color: #472B8F;
}

.textStyle {
    color: white;
    margin-right: 10px;
    font-size: 30px;
}

.textStyleUser {
    color: white;
    margin-left: 40px;
    /* outline: 2px solid red; */
    margin-bottom: 37px;
    margin-left: 60%;
    margin-top: 2%;
    font-size: 25px;
}


.containerRipleyAndUser {
    margin-left: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.iconStyle {
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

.logoripleytech {
    width: auto;
    height: 90px;
}