.backgroundColor {
    background-color: #472B8F;
}

.textStyle {
    color: white;
    margin-right: 30%;
    font-size: 30px;
    /* outline: 2px solid red; */
}

.textStyleUser {
    color: white;
    /* outline: 2px solid red; */
    font-size: 15px;
    margin-left: 45%;
}


.containerRipleyAndUser {
    margin-left: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* outline: 2px solid red; */
}

.iconStyle {
    font-size: 30px;
    color: white;
    margin-left: 100%;
    /* margin-top: 20px; */
}

.logoripleytech {
    width: auto;
    height: 60px;

}