.btnAddProduct {
    background-color: #EA3E91;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    margin-top: 50px;
    width: 210px;
    border-color: #EA3E91;
    font-weight: bold;
}

.btnAddProductAddProduct {
    background-color: #EA3E91;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    margin-top: 50px;
    width: 150px;
    border-color: #EA3E91;
    font-weight: bold;
    margin-left: 15px;
}


.containerbtn {
    display: flex;
    /* outline: 2px solid red; */
    align-items: center;
    justify-content: right;
    margin-right: 50px;
}

.textnoProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.titleNoProducts {
    color: #BABFBF;
    font-size: larger;
}

.boximgcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boximg {
    margin-top: 20px;
    width: 80px;
    height: 80px;
}

.tablefixed {
    justify-content: center;
    align-items: center;
}