.btnAddProduct {
    background-color: #EA3E91;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    margin-top: 50px;
    width: 310px;
    border-color: #EA3E91;
    font-weight: bold;
}

.containerbtn {
    display: flex;
    /* outline: 2px solid red; */
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}